<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bucket.name %>
</p>

<p>
  <strong>Amount total:</strong>
  <%= @bucket.amount_total %>
</p>

<p>
  <strong>Renew date:</strong>
  <%= @bucket.renew_date %>
</p>

<%= link_to 'Edit', edit_bucket_path(@bucket) %> |
<%= link_to 'Back', buckets_path %>
